:root {
    --main-brand-color: #60452a;
    --sec-brand-color: #eeeee6;
    --main-font-color: #c6ac83;
}

.site-logo-wrap {
    padding: 10px 30px 20px 30px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    background-color: #0E1618;
}
.site-logo-wrap img {
    height: 115px;
    width: auto;
}
#site-logo {
    left: 45%;
}
.header-top > .left {
    gap: 40px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .swiper-container {
        /*height: 300px;*/
    }
    .site-logo-wrap img {
        height: 80px;
        width: auto;
    }
    #site-logo {
        left: 0%;
    }
}

li.acconcepts > a {
    color: var(--main-font-color);
    font-weight: bold;
}

.google-maps {
    position: relative;
    padding-bottom: 75%; /* This is the aspect ratio*/
    height: 0;
    overflow: hidden;
}

.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 100px;
    width: 100% !important;
    height: 100% !important;
    overflow: visible !important;
}

